
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background-color: #ffffff;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.title {
    font-size: 100px;
    font-weight: 200;
    color: rgba(175, 47, 47, 0.15);
    margin-bottom: 20px;
}

.todo-list {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.todo-input {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border: none;
    outline: none;
    font-style: italic;
    color: #555;
}

.todo-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #ededed;
    font-size: 24px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-tasks {
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: #777;
}

.delete-btn {
    display: none;
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
}

.delete-btn i {
    font-size: 24px; /* Tamaño del ícono */
}

.todo-item.hover .delete-btn {
    display: block;
}

.items-left {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    color: #777;
}
